extends ../layouts/inner

block content
	- contentFor('javascripts', javascriptIncludeTag('data'))
	div.span10.offset1.content
		section.admin
			.page-header
				h1 Administration

			ul.nav.nav-tabs.submenu
				li.tables
					a(href="#{pathTo.admin}") Tables
				li.sources
					a(href="#{pathTo.admin_sources}") Sources
				li.transfers
					a(href="#{pathTo.admin_transfers}") Downloads
				li.users
					a(href="#{pathTo.admin_users}") Users
				li.global
					a(href="#{pathTo.admin_global}") Global

			block inner-content

		.row.footer

			block inner-footer

		#console.dmd(style="display:none")
			.inner
				span Console